{% extends 'base.html' %}

{% block main %}
<h2>Activity Log</h2>
<div class="border p-4 mt-3 shadow-lg">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>IP Address</th>
            <th>History</th>
        </tr>
        </thead>
        <tbody>
        {% for ord in activity %}
        <tr>
            <td>{{ ord.id }}</td>
            <td>{{ ord.ip_add }}</td>
            <td>
                <a href="{{url_for('activity_history', id=ord.id )}}" class="btn btn-primary btn-sm">History</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}