{% extends 'base.html' %}

{% block main %}
<style>
    span {
        color: white;
        border: 1px solid;
        margin-right: 10px;
        padding: 5px;
        border-radius: 5px;
    }

    strong {
        font-size: 20px;
    }

    .get {
        background-color: rgba(12, 82, 225, 0.15)
    }

    .get span {
        background-color: #0c52e1
    }

    .post {
        background-color: rgba(23, 175, 23, 0.15);
    }

    .post span {
        background-color: rgba(23, 175, 23);
    }

    .delete {
        background-color: rgb(194, 4, 4, 0.15);;
    }

    .delete span {
        background-color: rgb(194, 4, 4);;
    }

    .put {
        background-color: rgb(176, 119, 36, 0.15);
    }

    .put span {
        background-color: rgb(176, 119, 36);
    }
</style>
<h2>Resorter API</h2>
<div class="border mt-3 p-4 shadow-lg">
    <h4 class="mb-4"><a style="color: black; text-decoration: none"
                        href="https://resorter-server-5yctj.ondigitalocean.app">https://resorter-server-5yctj.ondigitalocean.app</a>
    </h4>
    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="get accordion-button collapsed" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseOne">
                    <span>GET:</span> <strong>/filter/cars</strong>
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-collapseOne">
                <div class="accordion-body">
                    <code><pre>
{
  "start_date": "2024-02-01",
  "end_date": "2024-02-10",
  "pick_up": "Zestafoni",
  "min_price": 1,
  "max_price": 200,
  "body_types": ["sedan", "cabriolet"],
  "fuels": ["benzin", "hybrid"],
  "drives": ["front wheel","rear wheel"],
  "transmission": "automatic",
  "year": 2000,
  "fuel_consumption_min":0,
  "fuel_consumption_max":80,
  "engine_type_min":0,
  "engine_type_max":20
}
                    </pre>
                    </code>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-heading9">
                <button class="get accordion-button collapsed" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapse9" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapse9">
                    <span>GET:</span> <strong>/filter/options</strong>
                </button>
            </h2>
            <div id="panelsStayOpen-collapse9" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-heading8">
                <div class="accordion-body">
                    <hr>
                    <code><pre>
{
  "drive": [
    {
      "option": "Front wheel",
      "value": "Front wheel"
    },
  ],
  "engine": [
    {
      "option": "Benzin",
      "value": "Benzin"
    },
  ],
  "extra_options": [
    {
      "option": "Free cancelation",
      "value": "Free cancelation"
    },
  ],
  "gearbox": [
    {
      "option": "Any",
      "value": "any"
    },
  ],
  "pickups": [
    {
      "option": "Tbilisi",
      "value": "Tbilisi"
    },
  ]
}
                    </pre>
                    </code>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="post accordion-button collapsed" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseTwo">
                    <span>POST:</span> <strong>/add/car/{user_id}</strong>
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                    <strong>user_id</strong> - Id of the user
                    <code><pre>
{
  "brand": "Toyota",
  "model": "Camry",
  "licensePlate": "GA777HE",
  "year": 2022,
  "bodyColor": "Blue",
  "bodyType": "sedan",
  "limit": 10000,
  "overageFee": 0.10,
  "radio": true,
  "aux": false,
  "bluetooth": true,
  "Audio-CD": false,
  "usb": true,
  "mp3": false,
  "franchise": true,
  "franchiseAmount": 500,
  "deposit": false,
  "depositAmount": null,
  "engineType": "1.2",
  "horsepower": 200,
  "fuel": "hybrid",
  "tankCapacity": 60,
  "fuelConsumption": 8.5,
  "transmission": "automatic",
  "drive": "rear wheel",
  "abs": true,
  "ebd": false,
  "esp": true,
  "requiredLicense": "C",
  "seats": 5,
  "doors": 4,
  "airConditioning": true,
  "interior": "leather",
  "roof": "sunroof",
  "poweredWindows": true,
  "airbags": 6,
  "sideWheel": "Left",
  "cruiseControl": false,
  "rearViewCamera": true,
  "parkingAssist": true,
  "11": 10,
  "12": 11,
  "13": 12,
  "21": 13,
  "22": 14,
  "23": 15,
  "31": 16,
  "32": 17,
  "33": 18,
  "1more": 19,
  "2more": 20 ,
  "3more": 21
}
                    </pre>
                    </code>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="put accordion-button collapsed"
                        type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseThree">
                    <span>PUT:</span> <strong>/edit/{car_id}</strong>
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body">
                    <strong>car_id</strong> - Id of the car you want to delete
                    <hr>
                    <code><pre>
{
  "brand": "me",
  "model": "ara",
  "licensePlate": "GA777HE",
  "year": 2022,
  "bodyColor": "Blue",
  "bodyType": "sedan",
  "limit": 10000,
  "overageFee": 0.10,
  "radio": true,
  "aux": false,
  "bluetooth": true,
  "Audio-CD": false,
  "usb": true,
  "mp3": false,
  "franchise": true,
  "franchiseAmount": 500,
  "deposit": false,
  "depositAmount": null,
  "engineType": "1.2",
  "horsepower": 200,
  "fuel": "hybrid",
  "tankCapacity": 60,
  "fuelConsumption": 8.5,
  "transmission": "automatic",
  "drive": "rear wheel",
  "abs": true,
  "ebd": false,
  "esp": true,
  "requiredLicense": "C",
  "seats": 5,
  "doors": 4,
  "airConditioning": true,
  "interior": "leather",
  "roof": "sunroof",
  "poweredWindows": true,
  "airbags": 6,
  "sideWheel": "Left",
  "cruiseControl": false,
  "rearViewCamera": true,
  "parkingAssist": true,
  "user_id": 1,
  "11": 10,
  "12": 11,
  "13": 12,
  "21": 13,
  "22": 14,
  "23": 15,
  "31": 16,
  "32": 17,
  "33": 18,
  "1more": 19,
  "2more": 20 ,
  "3more": 21
}
                    </pre>
                    </code>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-heading4">
                <button class="delete accordion-button collapsed" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapse4" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapse4">
                    <span>DELETE:</span> <strong>/delete/car/{car_id}</strong>
                </button>
            </h2>
            <div id="panelsStayOpen-collapse4" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-heading4">
                <div class="accordion-body">
                    <strong>car_id</strong> - Id of the car you want to delete
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-heading5">
                <button class="get accordion-button collapsed" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapse5" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapse5">
                    <span>GET:</span> <strong>/settings/{user_id}</strong>
                </button>
            </h2>
            <div id="panelsStayOpen-collapse5" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-heading4">
                <div class="accordion-body">
                    <strong>user_id</strong> - Id of the user with settings
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-heading6">
                <button class="put accordion-button collapsed" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapse6" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapse6">
                    <span>PUT:</span> <strong>/settings/{user_id}</strong>
                </button>
            </h2>
            <div id="panelsStayOpen-collapse6" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-heading6">
                <div class="accordion-body">
                    <strong>user_id</strong> - Id of the user with settings you want to update
                    <hr>
                    <code><pre>
{
    "companyName": "Your Company Name",
    "legalName": "Your Legal Name",
    "phone": "123456789",
    "secondPhone": "987654321",
    "country": "Your Country",
    "email": "your.email@example.com",
    "monday": true,
    "tuesday": false,
    "wednesday": true,
    "thursday": false,
    "friday": true,
    "saturday": false,
    "sunday": true,
    "cash": true,
    "visa": false,
    "masterCard": true
}
                    </pre>
                    </code>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-heading7">
                <button class="get accordion-button collapsed" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapse7" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapse7">
                    <span>GET:</span> <strong>/user/{user_id}</strong>
                </button>
            </h2>
            <div id="panelsStayOpen-collapse7" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-heading7">
                <div class="accordion-body">
                    <strong>user_id</strong> - Id of the user

                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-heading8">
                <button class="post accordion-button collapsed" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapse8" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapse8">
                    <span>POST:</span> <strong>/add/user</strong>
                </button>
            </h2>
            <div id="panelsStayOpen-collapse8" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-heading8">
                <div class="accordion-body">
                    <hr>
                    <code><pre>
{
    "company_name": "jondo",
    "password": "jondo1234",
    "email": "meravi1234@gmail.com",
    "phone": "2345633456"
}
                    </pre>
                    </code>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-heading10">
                <button class="get accordion-button collapsed" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapse10" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapse10">
                    <span>GET:</span> <strong>/services</strong>
                </button>
            </h2>
            <div id="panelsStayOpen-collapse10" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-heading8">
                <div class="accordion-body">
                    <hr>
                    <code><pre>
{
    "services": [
        {
            "name": "გაქირავების სარეკლამო პაკეტი",
            "content": "მასპინძლებს შეუძლიათ ატვირთონ თავიანთი გაქირავებული ქონება ჩვენს ვებგვერდზე 300 ლარის საფასურად...",
            "svg": "svg html text"
        },
        ...
    ]
}

                    </pre>
                    </code>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-heading11">
                <button class="get accordion-button collapsed" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapse11" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapse11">
                    <span>GET:</span> <strong>/regions/slider</strong>
                </button>
            </h2>
            <div id="panelsStayOpen-collapse11" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-heading8">
                <div class="accordion-body">
                    <hr>
                    <code><pre>
{
    "regions": [
        {
            "name": "კახეთი",
            "desc": "ისტორიული რეგიონი აღმოსავლეთ საქართველოში.კახეთი მევენახეობისა და მეღვინეობის ერთ-ერთი უძველესი კერაა.",
            "image": "region img in base64 format"
        },
        ...
    ]
}

                    </pre>
                    </code>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}