{% extends 'base.html' %}

{% block main %}
<style>
    .form-wrapper {
        max-width: 700px;
        margin: 0 auto;
    }

    h2 {
        margin-top: 30px;
        grid-column: span 2;
        text-align: center;
    }

    /*    sssssssssssssssssssssssssssssssss*/
    #carForm {
        display: grid;
        grid-gap: .5em;
        grid-template-areas:
            "detail1  detailTwo detail3"
            "detail1  detailThree detail4";
        grid-template-columns:33% 33% 33%;
    }


    #carForm > div:nth-child(2) {
        grid-area: detailTwo;
        height: 100%;
        position: sticky;
        top: 0;
    }
</style>
{{ ckeditor.load() }}
<div style="display: flex">
    <div class="border p-4 mt-4 shadow-lg" style="width: 600px;  border-top-right-radius: 0;  border-bottom-right-radius: 0">
        <form method="post" enctype="multipart/form-data" action="{{ url_for('edit_regions', id=region.id) }}">
            <div class="form-wrapper">
                <div class="input-group">
                    <input type="file" class="form-control" id="images" name="images"
                           aria-describedby="inputGroupFileAddon04" aria-label="Upload" multiple>
                    <div class="btn border btn-outline-secondary">
                        <label for="delimage">Delete</label>
                        <input class="form-check-input m-2 border" type="checkbox" id="delimage" name="delimage"
                               aria-label="Checkbox for following text input">
                    </div>
                </div>

                <div class="mb-3 form-group">
                    <label class="form-label" for="name">Name</label>
                    <input type="text" class="form-control" value="{{ region.name }}" name="name" id="name">
                </div>

                <div class="mb-3 form-group">
                    <label class="form-label">Article 1</label>
                    {{ ckeditor.create( name='aone', value=region.article_one ) }}
                </div>

                <div class="mb-3 form-group">
                    <label class="form-label">Article 2</label>
                    {{ ckeditor.create( name='atwo', value=region.article_two ) }}
                </div>

                <div class="mb-3 form-group">
                    <label class="form-label">Article 3</label>
                    {{ ckeditor.create( name='athree', value=region.article_three ) }}
                </div>

                <div class="mb-3 form-group">
                    <label class="form-label" for="video">Embed Video</label>
                    <input type="url" class="form-control" value="{{ region.video }}" name="video" id="video">
                </div>

                <button type="submit" class="btn btn-primary">Save</button>
                <a href="{{ url_for('manage_regions') }}" type="submit"
                   class="btn btn-outline-secondary">Cancel</a>
            </div>
        </form>
    </div>
    <div class="border p-4 mt-4" style="width: 450px; border-top-left-radius: 0;  border-bottom-left-radius: 0">
        <div class="mt-5">
            <h3>{{ region.name}}</h3>
            <div class="mt-3" style="display: flex; justify-content: space-between; flex-wrap: wrap">
                {% for img in region_images.images %}
                <img src="data:image/png;base64,{{ img }}" style="margin-bottom: 20px; display: flex; width: 100%;"
                     alt="Image">
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}