{% extends 'base.html' %}

{% block main %}
<h2>Manage admins</h2>
<div class="border mt-3 p-4 shadow-lg">
    <a href="{{ url_for('register') }}" class="btn btn-sm" style="background-color: #10dc10">Create Admin</a>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>
                <a href="{{ url_for('edit_user', id=user.id) }}" class="btn btn-primary btn-sm">Edit</a>
                <button class="btn btn-danger btn-sm"
                   data-bs-toggle="modal"
                   data-bs-target="#confirmDeleteModal{{ user.id }}">Delete</button>
            </td>
        </tr>
        <!-- Delete Confirmation Modal -->
        <div class="modal fade" id="confirmDeleteModal{{ user.id }}" tabindex="-1"
             aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmDeleteModalLabel">დაადასტურე წაშლა</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        დარწმუნებული ხარ რომ გინდა წაშალო? აღდგენა შეუძლებელია!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">უკან
                        </button>
                        <a class="btn btn-danger"
                           href="{{url_for('delete_user', id=user.id )}}">წაშლა</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
