{% extends 'base.html' %}

{% block main %}
<h2>Manage flats</h2>
<div class="mt-3 border shadow-lg p-4">
    <form method="post" action="{{ url_for('manage_flats') }}">
        <div class="input-group">
            <select style="max-width: 200px" id="search" name="search" class="form-select input-group-prepend">
                <option value="id">ID</option>
                <option value="owner">Owner</option>
                <option value="for_rent">Rent Status</option>
            </select>
            <input type="text" class="input-group-prepend form-control" name="field" id="field">
            <button type="submit" class="btn btn-outline-info input-group-prepend">Search</button>
        </div>
    </form>
</div>
<div class="p-4 mt-3 border shadow-lg">
    <a href="{{ url_for('upload_flat') }}" class="btn btn-sm" style="background-color: #10dc10">Add Flat</a>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Owner</th>
            <th>Type</th>
            <th>Region</th>
            <th>Day Price</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for flat in flats %}
        <tr>
            <td>{{ flat.id }}</td>
            <td>{{flat.name}}</td>
            <td>{{flat.flat_owner}}</td>
            <td>{{flat.flat_type}}</td>
            <td>{{flat.region}}</td>
            <td>{{flat.day_price}}</td>
            <td>
                <a href="{{url_for('edit_flat', id=flat.id)}}" class="btn btn-primary btn-sm">Edit</a>
                <button class="btn btn-danger btn-sm"
                        data-bs-toggle="modal"
                        data-bs-target="#confirmDeleteModal{{ flat.id }}">Delete
                </button>
            </td>
        </tr>
        <!-- Delete Confirmation Modal -->
        <div class="modal fade" id="confirmDeleteModal{{ flat.id }}" tabindex="-1"
             aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmDeleteModalLabel">დაადასტურე წაშლა</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        დარწმუნებული ხარ რომ გინდა წაშალო? აღდგენა შეუძლებელია!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">უკან
                        </button>
                        <a class="btn btn-danger"
                           href="{{ url_for('delete_flat', id=flat.id) }}">წაშლა</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
