<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Car Rental Form</title>
</head>
<body>
{% extends 'base.html' %}

{% block main %}
<style>
    h2 {
        color: #333333;
    }
</style>
<div class="container mt-5">
    <form class="p-4" method="post" action="{{ url_for('add_car') }}" enctype="multipart/form-data">
        <!-- Main Section -->
        <h2>Main Section</h2>
        <div class="border p-3 shadow-lg" style="display: flex; justify-content: space-between; gap: 5px">
            <div class="mb-3">
                <label for="brand" class="form-label">Brand</label>
                <input type="text" class="form-control" name="brand" id="brand" required>
            </div>
            <div class="mb-3">
                <label for="model" class="form-label">Model</label>
                <input type="text" class="form-control" name="model" id="model" required>
            </div>
            <div class="mb-3">
                <label for="licensePlate" class="form-label">License Plate No</label>
                <input type="text" class="form-control" name="licensePlate" id="licensePlate" required>
            </div>
            <div class="mb-3">
                <label for="year" class="form-label">Year of Manufacture</label>
                <input type="number" class="form-control" name="year" id="year" required>
            </div>
            <div class="mb-3">
                <label for="bodyColor" class="form-label">Body Color</label>
                <select class="form-select" name="bodyColor" id="bodyColor" required>
                    <option value="white">White</option>
                    <option value="black">Black</option>
                    <option value="gray">Gray</option>
                    <option value="red">Red</option>
                    <option value="blue">Blue</option>
                    <option value="green">Green</option>
                    <option value="yellow">Yellow</option>
                    <option value="brown">Brown</option>
                    <option value="beige">Beige</option>
                    <option value="orange">Orange</option>
                    <option value="silver">Silver</option>
                    <option value="skyblue">Sky Blue</option>
                    <option value="purple">Purple</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="bodyType" class="form-label">Body Type</label>
                <select class="form-select" name="bodyType" id="bodyType" required>
                    <option value="sedan">Sedan</option>
                    <option value="hatchback">Hatchback</option>
                    <option value="wagon">Wagon</option>
                    <option value="minivan">Minivan</option>
                    <option value="minibus">Minibus</option>
                    <option value="crossover">Crossover</option>
                    <option value="pickup">Pickup</option>
                    <option value="cabriolet">Cabriolet</option>
                    <option value="scooter">Scooter</option>
                    <option value="motorcycle">Motorcycle</option>
                    <option value="atv">ATV</option>
                    <option value="buggy">Buggy</option>
                    <option value="coupe">Coupe</option>
                </select>
            </div>
        </div>

        <h2 class="mt-5">Price and conditions</h2>
        <div class="border p-3 shadow-lg" style="display: flex; justify-content: space-between; gap: 5px">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="border" scope="col">#</th>
                    {% for tariff in tariffs %}
                    <th class="border" scope="col">days {{tariff.from_day}}..{{ tariff.to_day }}</th>
                    {% endfor %}
                    <th class="border" scope="col">31+</th>
                </tr>
                </thead>
                <tbody>
                {% for season in seasons %}
                <tr>
                    <th class="border" scope="row">{{ season.start_date.strftime('%d-%m') }}..{{
                        season.end_date.strftime('%d-%m') }}
                    </th>
                    {% for tariff in tariffs %}
                    <td class="border"><input name="{{ season.id }}{{ tariff.id }}" value="0" class="form-control"
                                              type="number" style="width: 70px"></td>
                    {% endfor %}
                    <td class="border"><input name="more" value="0" class="form-control" type="number"
                                              style="width: 70px"></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="col-md-6">
                <!-- Mileage Limit Section -->
                <h2 class="mt-5">Mileage Limit Section</h2>
                <div class="border p-3 shadow-lg">
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" name="unlimited" id="unlimited">
                        <label class="form-check-label" for="unlimited">Unlimited</label>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="limit" class="form-label">Limit (km/day)</label>
                        <input type="number" class="form-control" name="limit" id="limit">
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="overageFee" class="form-label">Overage Fee ($/km)</label>
                        <input type="number" class="form-control" name="overageFee" id="overageFee">
                    </div>
                </div>

                <!-- Insurance Section -->
                <h2 class="mt-5">Insurance Section</h2>
                <div class="border p-3 shadow-lg">
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" name="franchise" id="franchise">
                        <label class="form-check-label" for="franchise">Franchise</label>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="franchiseAmount" class="form-label">Franchise Amount ($)</label>
                        <input type="number" class="form-control" name="franchiseAmount" id="franchiseAmount">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" name="deposit" id="deposit">
                        <label class="form-check-label" for="deposit">Deposit</label>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="depositAmount" class="form-label">Deposit Amount ($)</label>
                        <input type="number" class="form-control" name="depositAmount" id="depositAmount">
                    </div>
                </div>

                <!-- Other Section -->
                <h2 class="mt-5">Other Section</h2>
                <div class="border p-3 shadow-lg">
                    <div class="mb-3 col-md-6">
                        <label for="requiredLicense" class="form-label">Required License</label>
                        <select class="form-select" name="requiredLicense" id="requiredLicense">
                            <option value="A">A</option>
                            <option value="A1">A1</option>
                            <option value="ABM">A or B or M</option>
                            <option value="B">B</option>
                            <option value="B1">B1</option>
                            <option value="BE">BE</option>
                            <option value="M">M</option>
                        </select>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="seats" class="form-label">Seats</label>
                        <input type="number" class="form-control" name="seats" id="seats">
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="doors" class="form-label">Number of Doors</label>
                        <select class="form-select" name="doors" id="doors">
                            <option value="2">2</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="airConditioning" class="form-label">Air Conditioning</label>
                        <select class="form-select" name="airConditioning" id="airConditioning">
                            <option value="1Zone">1 Zone Climate Control</option>
                            <option value="2Zone">2 Zone Climate Control</option>
                            <option value="4Zone">4 Zone Climate Control</option>
                        </select>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="interior" class="form-label">Interior</label>
                        <select class="form-select" name="interior" id="interior">
                            <option value="fabric">Fabric</option>
                            <option value="leather">Leather</option>
                            <option value="sport">Sport</option>
                            <option value="sportLeather">Sport Leather</option>
                        </select>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="roof" class="form-label">Roof</label>
                        <select class="form-select" name="roof" id="roof">
                            <option value="standard">Standard</option>
                            <option value="sunroof">Sunroof</option>
                            <option value="rigidFoldableAutomatic">Rigid Foldable Automatic</option>
                            <option value="softFoldableManual">Soft Foldable Manual</option>
                            <option value="softFoldableAutomatic">Soft Foldable Automatic</option>
                        </select>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="poweredWindows" class="form-label">Powered Windows</label>
                        <select class="form-select" name="poweredWindows" id="poweredWindows">
                            <option value="none">None</option>
                            <option value="2">2</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="airbags" class="form-label">Airbags</label>
                        <input type="number" class="form-control" name="airbags" id="airbags">
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="sideWheel" class="form-label">Side Wheel</label>
                        <select class="form-select" name="sideWheel" id="sideWheel">
                            <option value="left">Left</option>
                            <option value="right">Right</option>
                        </select>
                    </div>
                    <div class="mb-3 col-md-6 form-check">
                        <input type="checkbox" class="form-check-input" name="cruiseControl" id="cruiseControl">
                        <label class="form-check-label" for="cruiseControl">Cruise Control</label>
                    </div>
                    <div class="mb-3 col-md-6 form-check">
                        <input type="checkbox" class="form-check-input" name="rearViewCamera" id="rearViewCamera">
                        <label class="form-check-label" for="rearViewCamera">Rear View Camera</label>
                    </div>
                    <div class="mb-3 col-md-6 form-check">
                        <input type="checkbox" class="form-check-input" name="parkingAssist" id="parkingAssist">
                        <label class="form-check-label" for="parkingAssist">Parking Assist</label>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <!-- Engine Section -->
                <h2 class="mt-5">Engine Section</h2>
                <div class="border p-3 shadow-lg">
                    <div class="mb-3 col-md-6">
                        <label for="engineType" class="form-label">Engine Type</label>
                        <input type="text" class="form-control" name="engineType" id="engineType">
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="horsepower" class="form-label">Horsepower</label>
                        <input type="number" class="form-control" name="horsepower" id="horsepower">
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="fuel" class="form-label">Fuel</label>
                        <select class="form-select" name="fuel" id="fuel">
                            <option value="benzin">Benzin</option>
                            <option value="dizel">Dizel</option>
                            <option value="hybrid">Hybrid</option>
                            <option value="turboDizel">Turbo Dizel</option>
                            <option value="gaz">Gaz</option>
                            <option value="electricity">Electricity</option>
                        </select>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="tankCapacity" class="form-label">Tank Capacity (l)</label>
                        <input type="number" class="form-control" name="tankCapacity" id="tankCapacity">
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="fuelConsumption" class="form-label">Fuel Consumption (l/100 km)</label>
                        <input type="number" class="form-control" name="fuelConsumption" id="fuelConsumption">
                    </div>
                </div>

                <!-- Chassis Section -->
                <h2 class="mt-5">Chassis Section</h2>
                <div class="border p-3 shadow-lg">
                    <div class="mb-3 col-md-6">
                        <label for="transmission" class="form-label">Transmission</label>
                        <select class="form-select" name="transmission" id="transmission">
                            <option value="manual">Manual</option>
                            <option value="automatic">Automatic</option>
                            <option value="manualAutomatic">Manual + Automatic</option>
                        </select>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="drive" class="form-label">Drive</label>
                        <select class="form-select" name="drive" id="drive">
                            <option value="frontWheel">Front Wheel</option>
                            <option value="rearWheel">Rear Wheel</option>
                            <option value="fourWheel">4 Wheel</option>
                        </select>
                    </div>
                    <div class="mb-3 col-md-6 form-check">
                        <input type="checkbox" class="form-check-input" name="abs" id="abs">
                        <label class="form-check-label" for="abs">ABS</label>
                    </div>
                    <div class="mb-3 col-md-6 form-check">
                        <input type="checkbox" class="form-check-input" name="ebd" id="ebd">
                        <label class="form-check-label" for="ebd">EBD</label>
                    </div>
                    <div class="mb-3 col-md-6 form-check">
                        <input type="checkbox" class="form-check-input" name="esp" id="esp">
                        <label class="form-check-label" for="esp">ESP</label>
                    </div>
                </div>

                <!-- Music Section -->
                <h2 class="mt-5">Music Section</h2>
                <div style="display: flex; flex-wrap: wrap; gap: 1rem" class="border p-3 shadow-lg">
                    <div class="form-check shadow-lg border border-secondary rounded"
                         style="padding:10px 10px 10px 30px ">
                        <input name="radio" class="form-check-input" style="padding:10px 10px 10px 10px ; border: solid"
                               type="checkbox"
                               id="radio">
                        <label class="form-check-label" style="margin-left: 10px" for="radio">
                            Radio
                        </label>
                    </div>
                    <div class="form-check shadow-lg border border-secondary rounded"
                         style="padding:10px 10px 10px 30px ">
                        <input name="aux" class="form-check-input" style="padding:10px 10px 10px 10px ; border: solid"
                               type="checkbox"
                               id="aux">
                        <label class="form-check-label" style="margin-left: 10px" for="aux">
                            AUX
                        </label>
                    </div>
                    <div class="form-check shadow-lg border border-secondary rounded"
                         style="padding:10px 10px 10px 30px ">
                        <input name="usb" class="form-check-input" style="padding:10px 10px 10px 10px ; border: solid"
                               type="checkbox"
                               id="usb">
                        <label class="form-check-label" style="margin-left: 10px" for="usb">
                            USB
                        </label>
                    </div>
                    <div class="form-check shadow-lg border border-secondary rounded"
                         style="padding:10px 10px 10px 30px ">
                        <input name="mp3" class="form-check-input" style="padding:10px 10px 10px 10px ; border: solid"
                               type="checkbox"
                               id="mp3">
                        <label class="form-check-label" style="margin-left: 10px" for="mp3">
                            MP3
                        </label>
                    </div>
                    <div class="form-check shadow-lg border border-secondary rounded"
                         style="padding:10px 10px 10px 30px ">
                        <input name="bluetooth" class="form-check-input" style="padding:10px 10px 10px 10px ; border: solid"
                               type="checkbox"
                               id="bluetooth">
                        <label class="form-check-label" style="margin-left: 10px" for="bluetooth">
                            Bluetooth
                        </label>
                    </div>
                    <div class="form-check shadow-lg border border-secondary rounded"
                         style="padding:10px 10px 10px 30px ">
                        <input name="Audio-CD" class="form-check-input" style="padding:10px 10px 10px 10px ; border: solid"
                               type="checkbox"
                               id="Audio-CD">
                        <label class="form-check-label" style="margin-left: 10px" for="Audio-CD">
                            Audio-CD
                        </label>
                    </div>
                </div>

                <!-- Images Section -->
                <h2 class="mt-5">Images Section</h2>
                <div class="border p-3 shadow-lg">
                    <div class="mb-3">
                        <label for="carImages" class="form-label">Car Images</label>
                        <input type="file" class="form-control" name="carImages" id="carImages" accept="image/*"
                               multiple
                               required>
                    </div>
                    <div class="mb-3">
                        <label for="registrationCertificate" class="form-label">Vehicle Registration Certificate Image
                            (Max
                            2)</label>
                        <input type="file" class="form-control" name="registrationCertificate"
                               id="registrationCertificate"
                               accept="image/*" multiple required>
                    </div>
                </div>
            </div>
        </div>

        <!-- Images Section -->

        <button type="submit" class="btn btn-primary mt-3 mb-5">Add car</button>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
{% endblock %}
</html>

